.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.pagination-controls {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.page-size-selector {
  margin-left: 10px;
}

.number-button {
  padding: 5px;
  border: 1px solid grey;
  margin: 2px;
}

.pagination {
  justify-content: space-between !important;
}
.newpage{
       font-size: 0.80rem !important;
      font-weight: 400 !important;
      color: #121212 !important;
      margin: 0 !important;
}
span{
  font-weight: 700;
}